
/*****************

	CODE CLIENTS

******************/

.clients{
    margin:0 auto;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.reference-item{
    position: relative;
    width: 25%;
    min-width: 180px;
    min-height: 320px;
    overflow: hidden;
    padding: 0px 40px;
    height: auto;
    overflow: hidden;
    margin: 20px 0 !important;
    padding-bottom: 200px;


    .titre{
        width: 100%;
        text-transform: uppercase;
        font-size: 20px;
        display: block;
        padding: 20px 0;
        top: 0;
        color: #43bcca;
        left: 0;
        text-align: left;
        font-weight:bold;
        margin-top: 20px;
    }

    .description{
        width: 100%;
        font-size: 14px;
        display: block;
        color: black;
        left: 0;
        text-align: left;
    }

    .image{
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 60%;
        display: block;
        color: black;
        text-align: center;
        margin: 0 auto;
        max-height:200px;
        img{
            max-height:150px;
        }
    }


    &:after{
        content: '';
        vertical-align: middle;
        height: 80%;
        padding-top: 0px;
        display: block;
        position: absolute;
        width: 2px;
        right: 0;
        top: 40px;
        background: #e7a041;
    }
    &:nth-child(4n):after{
        background: transparent!important;
    }
    &:hover{
        .overlay-references{
            opacity:1;
            transition: all 0.2s ease;
        }
    }
}

.overlay-references{
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #e7a041;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    color:#000;
    overflow:hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    .description{
        text-align: left;
        font-size:14px;
        color:#fff;
        font-style: italic;
    }

    .title{
        font-size:14px;
        display:block;
        color:#fff;

        font-weight: bold;

    }
}


.with-border{
    border: 1px solid black;

}
.no-border{
    border:0px;
}
.reference-item:before {    /* create a full-height inline block pseudo=element */

}
.reference-item img{
    margin-top: 20px;
}