@font-face {
    font-family: 'nanamibold';
    src: url('../fonts/nanami-bold-webfont.woff2') format('woff2'),
         url('../fonts/nanami-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanamiextralight';
    src: url('../fonts/nanami-extralight-webfont.woff2') format('woff2'),
         url('../fonts/nanami-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanamiregular';
    src: url('../fonts/nanami-regular-webfont.woff2') format('woff2'),
         url('../fonts/nanami-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


p, ul, .et_pb_toggle_content  {
  @include p;
}
h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}

.et_menu_container {
//let space for goddam' social_header
  margin-top: 35px!important;
}
.social_header{
  //display:none;
  text-align:right;
  position: absolute;
  top: -35px;
  right:0;
  padding: 0 30px;
  .social_header_item {
    display: inline-block;
    padding: 5px 0 5px 10px;
    img{
      width: auto;
      height:25px;
    }
  }
}


.hero400 {
  h1, h2{
    @include h1;
    @include shadow;
    text-transform: uppercase;

  }
  @include hero400;
}

.hero350 {
  h1, h2{
    @include h1;
    @include shadow;
    text-transform: uppercase;

  }
  @include hero350;
}

.hero300 {
  h1, h2{
    @include h1;
    @include shadow;

    text-transform: uppercase;
  }
  @include hero300;

}
.hero260 {

  h1, h2{
    @include h1;
    @include shadow;
    text-transform: uppercase;
  }
  @include hero260;

}

#slider_home{
  h2{

    font-family: "nanamibold", sans-serif;
    letter-spacing: 3px;
    line-height: 1em;
    color: #e05b4c !important;
    text-shadow: none !important;
    text-transform: uppercase;
  }
}


.custom_faq {
  h5{
    font-weight: bold;
  }
}

.custom_divider{
  height: 0;
  margin:0px;
}
.custom_offres{
  padding: 0px 20px 20px;
}
.offres_title{
    color: $lightblue;
    text-transform: uppercase;
    cursor:pointer;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
}
.flex-gif {
//not sure of this one...
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;*/
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.custom_faq {
  hr {
    border: 1px solid #e7a041;
  }
}
  ul li{
    margin-bottom: 10px;
    ul{
      list-style-type: circle!important;
      padding: 0 0 0px 3em!important;
      li{
        margin-bottom: 0px;
      }
    }
    .sub-menu{
      padding:0!important;
    }
  }
  #mobile_menu ul.sub-menu {
    list-style-type: none!important;
  }
  body{
    .form_map{
      width: 100%!important;
      textarea.et_pb_contact_message {
        min-height:80px;
      }
    }
    article {
      .bloc-post-news-title{
        text-transform: uppercase;
        font-family: "nanamiextralight", sans-serif!important;
        line-height:29px;
      }

      .ban_bienetre::before{
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/VAGUE.png);
      }

      .ban_bienetre::before {
        width: 80px;
        height: 100px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/VAGUE.png);
        background-size: contain;
        content: "";
        position: relative;
        display: inline-block;
        top: 29px;
        left: 10px;
        background-repeat: no-repeat;
      }
      .ban_temoignages::before {
        width:48px;
        height:40px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/guillemet_left_large_yellow.png');
        background-size:48px;
        content: "";
        position: relative;
        display:inline-block;
        bottom:30px;
        right:10px;
      }
      .ban_temoignages::after {
        width:46px;
        height:34px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/guillemet_right_large_yellow.png');
        background-size:48px;
        content: "";
        position: relative;
        display:inline-block;
        left:10px;
        bottom:30px;
      }
      .ban_erp::after {
        width: 64px;
        height: 96px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/gears.png);
        background-size: 60px;
        content: "";
        position: relative;
        display: inline-block;
        left: 0px;
        background-repeat: no-repeat;
        top: 22px;
      }
      .ban_entreprise::after {
        width: 64px;
        height: 96px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/07/icon-entreprise.png);
        background-size: 60px;
        content: "";
        position: relative;
        display: inline-block;
        left: 0px;
        background-repeat: no-repeat;
        top: 22px;
      }
      .ban_actualites::before {
        width: 90px;
        height: 90px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/pens_yellow.png);
        background-size: contain;
        content: "";
        position: relative;
        display: inline-block;
        right: -40px;
        top: 12px;
        background-repeat: no-repeat;
      }
      .ban_contact::before {
        width:78px;
        height:69px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/at_blue.png');
        background-size:78px;
        content: "";
        position: relative;
        display:inline-block;
        right:30px;
        top: 4px;
      }
      .ban_metiers::after {
        width:60px;
        height:95px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/gears.png');
        background-size:60px;
        content: "";
        position: relative;
        display:inline-block;
        left:30px;
        top:20px;
      }
      .ban_culture::after {
        width: 87px;
        height: 108px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/music.png');
        background-size:87px;
        content: "";
        position: relative;
        display:inline-block;
        left: 20px;
        top: 30px;
      }
      .ban_mission::after {
        width: 80px;
        height: 78px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/boussole.png');
        background-size:80px;
        content: "";
        position: relative;
        display:inline-block;
        left: 20px;
        top: 9px;
      }
      .ban_chiffres::after {
        width: 64px;
        height: 96px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/calculatrice.png');
        background-size: 64px;
        content: "";
        position: relative;
        display:inline-block;
        left: 20px;
        top: 20px;
      }
      .ban_agences::after {
        width: 67px;
        height: 77px;
        background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/cross.png');
        background-size: 67px;
        content: "";
        position: relative;
        display:inline-block;
        left: 20px;
        top: 20px;
      }
      .ban_postes::before{
        width: 87px;
        height: 107px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/picto_loupe.png);
        background-size: 77px;
        content: "";
        position: relative;
        display: inline-block;
        left: -10px;
        background-repeat: no-repeat;
        top: 20px;
      }
      .ban_rejoignez::after{
        width: 67px;
        height: 77px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/puzzle-1.png);
        background-size: contain;
        content: "";
        position: relative;
        display:inline-block;
        left: 20px;
        top: 12px;
        background-repeat: no-repeat;
      }
      .ban_fondsdotation::before{
        width: 87px;
        height: 107px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/picto_hearts.png);
        background-size: 67px;
        content: "";
        position: relative;
        display:inline-block;
        left: 6px;
        top: 26px;
        background-repeat: no-repeat;
      }
      .ban_projets::before{
        width: 87px;
        height: 97px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/picto_flag.png);
        background-size: 67px;
        content: "";
        position: relative;
        display:inline-block;
        left: 6px;
        top: 26px;
        background-repeat: no-repeat;
      }
    }
    .et_pb_section_5 {
      #et_pb_button_red {
        border: 1px solid #e05b4c!important;
      }
      #et_pb_button_red:hover {
        background-color: #f4d9de!important;
      }
    }
    /*.et_pb_section_9 {
        .et_pb_column_8 {
            float:right;
        }
    }*/

    /* STARTING BUTTON FAQ */
    .btn_faq {
      @include btn;
      padding: 1em 6em!important;
      font-weight:bold;
      margin-right:20px;
      border: 1px solid #e7a041;
      border-radius:0px!important;
      color:#444444!important;
      text-transform:uppercase;
    }
    .btn_faq:after {
      font-size: 13px !important;
      line-height: 1.45!important;
      font-weight: bold;
      padding-left: 10px;
    }
    .btn_faq:hover {
      padding: 1em 7em !important;
      background-color:#faecd9;
      border: 1px solid #e7a041!important;
    }
    /* ENDING BUTTON FAQ */

    .footer_info {
      @include p;
      padding:20px 90px 0px 0px;
      vertical-align:top;
    }

    .footer_container {
      width:100%;
      margin:auto;
      background-color:#2e2e2e;
      padding:40px 0px;
    }
    .footer_table {
      margin:auto;
    }
    .footer_title {
      @include p;
      text-align:left;
      color:#ffffff;
      font-weight:normal;
      position:relative;
    }
    .footer_title::before {
      width:34px;
      height:27px;
      background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/target.png');
      background-size:34px;
      content: "";
      display:block;
      position: absolute;
      left:-41px;
    }

    .footer_wrapper{
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      flex-flow: row wrap;
      margin: 0 0 0 -5%;
      width: 90%;
      margin: 0 auto;

      @media only screen and (min-width: 414px) and (max-width:1025px){
        width: 70%;
      }

      .footer_info{
        padding: 0 0 0 10%;
        width: 25%;

        @media only screen and (min-width: 414px) and (max-width:1025px){
          width: 50%;
          margin-bottom: 15px;
        }

        @media only screen and (min-width: 250px) and (max-width: 767px){
          width: 100%;
        }

      }
    }
    #container_valeurs {
      width:70%!important;
    }
    #container_mission {
      width:70%!important;
    }
    #container_chiffres {
      width:70%!important;
    }
    #container_agences {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      align-items: flex-end;
      #custom_tab {
        .et_pb_tabs_controls li{
          width:25%;
          a {
            text-align:center;
          }
        }
        ul.et_pb_tabs_controls {
          background-color: #ffffff!important;
          .et_pb_tab_active a{
            color:#408ab9!important;
            font-weight: 400!important;
          }
          .et_pb_tab_0::before{
            width:34px;
            height:27px;
            background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/target.png');
            background-size:34px;
            content: "";
            display:block;
            position: absolute;
            left: 100px;
            top: 4px;
          }
          .et_pb_tab_1::before{
            width:34px;
            height:27px;
            background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/target.png');
            background-size:34px;
            content: "";
            display:block;
            position: absolute;
            left: 100px;
            top: 4px;
          }
          .et_pb_tab_2::before{
            width:34px;
            height:27px;
            background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/target.png');
            background-size:34px;
            content: "";
            display:block;
            position: absolute;
            left: 100px;
            top: 4px;
          }
          .et_pb_tab_3::before{
            width:34px;
            height:27px;
            background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/target.png');
            background-size:34px;
            content: "";
            display:block;
            position: absolute;
            left: 100px;
            top: 4px;
          }
        }
      }
      .et_pb_tabs {
        border: 1px solid #7dcff5!important;
        a {
          color:#ffffff;
          font-weight: 400;
        }
      }
      .et_pb_tab {
        padding:100px 30px;
      }
    }
    .valeurs {
      border: 1px solid #e05b4c;
      padding: 50px 40px;
      color:#e05b4c;
      max-height: 340px;
      min-height: 340px;
      vertical-align:middle;
    }
    .valeurs h3 {
      color:#e05b4c;
      margin-bottom:10px;
    }
    .items-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      align-items:center;
    }
    .items-start {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      align-items:flex-start!important;
    }
    .bloc-post-home-title-blue h2 {
      color: #408ab9;
      text-transform: uppercase;
      font-family: "nanamiextralight", sans-serif!important;
      line-height:29px;
    }
    .bloc-post-home-title-red h2 {
      color: #e05b4c!important;
      font-family: "nanamiextralight", sans-serif!important;
      text-transform: uppercase;
      line-height:29px;
    }
    .section_chiffres h2 {
      font-size:50px;
    }
    .container_temoignages .et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description  {
  		padding: 0% 0%!important;
  		padding-bottom:20%!important;
    }
  	.container_temoignages .et-pb-controllers {
  		bottom:0px;
  	}
    .container_temoignages{
      margin-top:20px!important;
      margin-bottom:20px!important;
    }

  }
  /**************** ALERTE ***************/
  /* TOUTES LES MEDIAS QUERIES DU MONDE */

  @media only screen and (min-width: 414px) and (max-width:1025px) {
    article .et_pb_section_9 .et_pb_row_4  {
      padding-left:0px!important;
    }
    .et_pb_fullwidth_header .header-content {
      padding: 0px!important;
    }
    .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
      width:100%!important;
    }
    .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
      width: 100%!important;
      max-width: 1080px!important;
    }
    article .et_pb_fullwidth_header_subhead {
      padding: 0px 20px;
    }
    body article .ban_temoignages::before {
      width: 40px!important;
      height: 30px!important;
      background-size: 40px!important;
      bottom: 33px!important;
    }
    body article .ban_temoignages::after {
      width: 40px!important;
      height: 30px!important;
      background-size: 40px!important;
      bottom: 33px!important;
      left:5px!important;
    }
    article .et_pb_toggle_title::before {
      width: 25px!important;
      height: 24px!important;
      background-size: 25px!important;
      left: -90px!important;
      bottom: 20px!important;
    }
    .custom_faq h5:before {
      bottom: -38px!important;
    }
    .et_pb_column_7 #et_pb_contact_form_0 {
      width: 96%!important;
    }
    body .footer_info {
    }
    .et_pb_section_5 .et_pb_slide_image {
      position: relative;
    }
    .et_pb_section_5 .et_pb_slide_image, .et_pb_slide_video {
      width: 100%!important;
    }
    .et_pb_section_5 .et_pb_slide_image img {
      //height: 100%!important;
    }
  }
  @media only screen and  (max-width: 767px) {
    .custom_faq{
      .et_pb_toggle_open, .et_pb_toggle_close {
        padding:0px!important;
      }
    }

    article .et_pb_fullwidth_header h1 {
      font-size: 35px!important;
      line-height: 36px!important;
    }
    article .et_pb_fullwidth_header_subhead {
      font-size: 22px !important;
      line-height: 26px !important;
    }
    article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_slide_description {
      padding-right: 0%!important;
    }
    body article .ban_temoignages::before {
      display:none!important;
    }
    body article .ban_temoignages::after {
      display:none!important;
    }
    body article .ban_actualites::before {
      display:none!important;
    }
    body article .ban_metiers::after {
      display:none!important;
    }
    body article .ban_contact::before {
      display:none!important;
    }
    body article .ban_culture::after {
      display:none!important;
    }
    body article .ban_mission::after {
      display:none!important;
    }
    body article .ban_chiffres::after {
      display:none!important;
    }
    body article .ban_agences::after {
      display:none!important;
    }
    .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
      width:100%!important;
    }
    article .et_pb_fullwidth_header h1 {
      font-size: 28px!important;
      line-height: 36px!important;
    }
    .et_pb_fullwidth_header .header-content {
      padding: 0px!important;
    }
    article .et_pb_section_9 .et_pb_row_4 {
      padding-left:0px!important;
    }
    .et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
      padding: 16% 0%!important;
    }
    .et_pb_slide_content em {
      font-size:14px!important;
    }
    .et-pb-controllers {
      bottom: 0%!important;
    }
    article .et_pb_section_5 .et_pb_post_slider .et_pb_slide_description {
      padding: 10px 10px!important;
    }
    article .et_pb_toggle_title::before {
      width: 27px!important;
      height: 25px!important;
      background-size: 27px!important;
      left:-50px!important;
      bottom: -24px!important;
    }
    .et_pb_toggle h5.et_pb_toggle_title {
      padding:0px;
    }
    .et_pb_row.et_pb_row_fullwidth, .et_pb_specialty_fullwidth > .et_pb_row {
      width: 98% !important;
    }
    .custom_faq .et_pb_toggle_content{
      right: 35px!important;
    }
    body .footer_container {
      padding-left: 15px!important;
    }
    body .footer_info {
      padding: 0px 0px 20px 0px!important;
      display:block!important;
      text-align:center;
    }
    body .footer_title::before {
      left: 15px;
    }
    body .footer_title {
      text-align:center;
    }
    .et_contact_bottom_container {
      float: none;
    }
    .et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
      padding: 16% 5% !important;
    }
    .et_pb_section_5 .et_pb_slide_image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
    }
    article .et_pb_toggle_title {
      font-size:28px!important;
    }
    .et-pb-controllers {
      bottom:0px!important;
    }
    .et_pb_section_5 .et_pb_slide_image {
      position: relative;
    }
    .et_pb_section_5 .et_pb_slide_image, .et_pb_slide_video {
      width: 100%!important;
    }
    .et_pb_section_5 .et_pb_slide_image img {
      height: 100%!important;
    }
    .et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
      padding: 9% 8%!important;
    }
    body #container_valeurs {
      width: 90% !important;
    }
    body #container_mission {
      width: 90% !important;
    }
    body #container_agences {
      display: block;
    }
    body #container_agences #custom_tab .et_pb_tabs_controls li {
      width: 100%;
    }
    body #container_agences #custom_tab .et_pb_tabs_controls a {
      width: 760px;
      max-width: 100%;
      text-align: center;
    }
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_0::before  {
      left:175px!important;
    }
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_1::before  {
      left:175px!important;
    }
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_2::before  {
      left:175px!important;
    }
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_3::before  {
      left:175px!important;
    }
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_4::before  {
      left:175px!important;
    }
  }
  @media only screen and (min-width: 980px) and (max-width:1416px) {
    #logo {
      max-height: 34%!important;
    }
  }
  @media only screen and (max-width: 980px)  { 
    .et_menu_container {
    //let space for goddam' social_header
      margin-top: 25px!important;
    }
    .social_header{
      top: -25px;
      padding: 0;
      .social_header_item {
        display: inline-block;
        padding: 3px 0 3px 7px;
        img{
          width: auto;
          height:20px;
        }
      }
    }
  }
  @media only screen and (max-width: 480px)  { 
    .social_header{
      display: none;
    }
    .et_menu_container {
    //let space for goddam' social_header
      margin-top: 0px!important;
    }
  }