#top-menu li li{
    margin: 0;
    padding: 0;
    width: 100%;
    a{
        width: 100%;
        padding: 6px 40px;
    }
}

.et_mobile_menu .menu-item-has-children > a {
    background-color:unset;
}

    a.smallblue:hover, a.bigblue:hover {
    color: #444 !important;
}
 .et_pb_slide_description {
    padding-top: 5%!important;

}
.single-post{

    #left-area {
        float: none;
        width: 100% !important;
        padding-right: 0!important;
    }

}
.et_pb_number_counter{
    h3{
        letter-spacing:0px;
    }
}
ul.et_pb_tabs_controls:after{
    border-top:0px;
}
#top-menu li {
    text-transform:uppercase;
}
    article {
        .extralight {
            @include extralight;
        }
        .bold {
            @include bold;
        }
        .et_pb_fullwidth_header_container {
            .header-content {
                width:100%!important;
                max-width:970px!important;
                margin:auto!important;
            }
        }
        .et_pb_fullwidth_header_subhead {
            @include subtitle;
            @include shadow;

            font-weight: 600;
            text-transform:uppercase;
            padding-top:20px;
        }

        .et_pb_section_1 {
                .et-pb-controllers .et-pb-active-control{
                    width:9px!important;
                    height:9px!important;
                    background-color:#e05b4c!important;
                }
                .et-pb-controllers {
                    bottom:0px!important;
                }
                .et-pb-controllers a {
                    width:9px!important;
                    height:9px!important;
                    background-color:#efaaa2!important;
                }
                #slider_home {
                    .et_pb_slide {
                        box-shadow:none!important;

                        .et_pb_slide_content {
                            @include p;
                            color:#444444!important;
                            text-shadow:none!important;
                        }
                        .et_pb_button {
                            @include btn;
                            padding: 1em 3em!important;
                            font-weight:bold;
                            border: 1px solid #e05b4c;
                            border-radius:0px!important;
                            color:#444444!important;
                            text-transform:uppercase;
                        }
                        .et_pb_button::after {
                            font-size: 13px !important;
                            line-height: 1.45!important;
                            font-weight: bold;
                            padding-left: 20px!important;
                        }
                        .et_pb_button:hover {
                            padding: 1em 4em !important;
                        }
                        .et_pb_slide_description {
                            padding-top: 8%!important;
                            padding-bottom: 8%!important;
                            padding-right: 13%;

                        }
                    }
                }
        }
        .et_pb_post_slider_0 {
            .et_pb_button {
                @include btn;
                padding: 1em 2em!important;
                font-weight:bold;
                border: 1px solid #e05b4c!important;
                border-radius:0px!important;
            }
            .et_pb_button:after {
                font-size:25px!important;
                line-height: 0.75!important;
            }
            .et_pb_button:hover {
                padding-right: 3em!important;
            }
        }
        .et_pb_section_5 {
            .et_pb_button {
                @include btn;
                padding: 1em 2em!important;
                font-weight:bold;
                border: 1px solid #408ab9;
                border-radius:0px!important;
                color:#444444!important;
                text-transform:uppercase;
                width:100%!important;
            }
            .et_pb_button:after {
                font-size: 13px !important;
                line-height: 1.45!important;
                font-weight: bold;
                padding-left: 10px;
            }
            .et_pb_button:hover {
                padding-right: 3em!important;
                background-color:#d9f2f4;
                border: 1px solid #408ab9!important;
            }
            .et_pb_slide_description {
                text-align:left!important;
                padding-bottom:10%!important;
                border-bottom: 1px solid #408ab9;
                border-left: 1px solid #408ab9;
                border-right: 1px solid #408ab9;
            }
            .et_pb_slide_description p {
                @include p;
            }
            .et_pb_slide {
                padding: 0%!important;
            }
            .et_pb_slide_content .post-meta {
                padding-bottom:20px!important;
            }
            .et_pb_slide_title h2 {
                @include h3;
                color:#408ab9!important;
            }
            .et_pb_post_slider_2 {
                .et_pb_slide_description {
                    border-bottom: 1px solid #e05b4c;
                    border-left: 1px solid #e05b4c;
                    border-right: 1px solid #e05b4c;
                }
            }
        }
        .et_pb_contact {
            margin-bottom:10px;
            .et_contact_bottom_container {
                overflow:visible!important;
                width:240px;
            }
            textarea, input {
                border-bottom: 2px solid #7dcff5!important;
                border: 1px solid #ffffff;
            }
            .et_pb_contact_submit {
                margin-left:0px!important;
            }
            .et_pb_button {
                @include btn;
                padding: 1em 6em!important;
                font-weight:bold;
                margin-right:20px;
                border: 2px solid #7dcff5;
                border-radius:0px!important;
                color:#444444!important;
                text-transform:uppercase;
                width:100%!important;
            }
            .et_pb_button:after {
                font-size: 13px !important;
                line-height: 1.45!important;
                font-weight: bold;
                padding-left: 10px;
            }
            .et_pb_button:hover {
                padding-right: 7em!important;
                background-color:#ffffff;
                border: 2px solid #7dcff5!important;
            }
        }
        .et_pb_section_9 {
            .et_pb_row_4 {
                margin: auto!important;
                padding-left:34px;
            }
            .et_pb_contact_form {
                margin-left: 0%!important;
            }
        }
        .et_pb_section_3 {
            .et_pb_slider {
                .et-pb-active-control {
                    width:9px;
                    height:9px;
                    background-color:#ffffff!important;
                    border:solid 2px rgba(81,202,216,1)!important;
                    background-color:#ffffff!important;
                    position: relative;
                    top: 2px;
                }
                .et-pb-controllers a {
                    width:9px;
                    height:9px;
                    background-color: rgba(81,202,216,1);
                }
            }
        }
        .et_pb_fullwidth_header{
           .et_pb_fullwidth_header_container{
               width:100%;
           }
        }
        /*.et_pb_column_1_2 {
            .et_pb_slide_content h3 {
                @include h3;
                text-transform:uppercase;
                color:#43bcca;
            }
            .et_pb_slider_content p, em {
                @include h3;
                color:#43bcca!important;
                letter-spacing: 2px;

            }
        }*/
        .et_pb_toggle_title::before {
            background-image:url('http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/cross_orange.png');
            width:40px;
            height:39px;
            position:relative;
            left:-180px;
            bottom:-43px;
            content: "";
            display:block;
        }
        .et_pb_toggle_open .et_pb_toggle_title:before {
            content: ""!important;
        }

        // Effet ouverture croix
        .et_pb_toggle_item{
            
            .et_pb_toggle_title::before{
                transition: transform 0.2s ease-out;
            }

            &.et_pb_toggle_close .et_pb_toggle_title::before {
                transform: rotate(0deg);            
            }

            &.et_pb_toggle_open .et_pb_toggle_title::before {
                transform: rotate(45deg);
            }

        }

        .et_pb_toggle {
            margin-left: 25%;
        }
        #et_pb_contact_form_0 .et_pb_contact_field_radio_title {
            display:none!important;
        }
        .et_pb_contact_form_0 .input[type="radio"] + label i {
            border: 3px solid #7dcff5;
            width:14px;
            height:14px;
            bottom: 3px;
        }
        .et_pb_contact_form_0 .input[type="radio"]:checked + label i:before{
            background-color: #7dcff5!important;
            width:14px;
            height:14px;
        }
    }
    article .et_pb_section_5 .et_pb_code_1 .et_pb_slide_description:nth-child(even) {
        border-bottom: 1px solid #e05b4c!important;
        border-left: 1px solid #e05b4c!important;
        border-right: 1px solid #e05b4c!important;
    }
    /*.post-25444 .et_pb_section_3 .et_pb_text_1 h3 {
        @include h3;
    }*/
    .post-25444 .et_pb_section_2 .et_pb_row {
        width:70%;
    }

    /*.post-25496, .post-26308{

        .et_pb_text {
            min-height: 320px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    .post-26308{
        .et_pb_text {
            height: auto;
        }
    }
*/
    .post-25563{
        .et_pb_divider:before {
            border-top-color: #757575;
            border-top-style: solid;
        }
    }


#main-content .container{
    &:before{
        background-color: transparent;
    }
}
.single-post {


    .container{
        width:100%!important;
        padding-top: 0px!important;
    }
    .type-post {
        width: 90%;
        margin: 0 auto;
    }


    .ban_actualites{
        @include h1;
        @include shadow;
        @include uppercase;


    }
    .ban_actualites::before {
        width: 90px;
        height: 90px;
        background-image: url(http://sydconseil.lpg.rocks/wp-content/uploads/2017/06/pens_yellow.png);
        background-size: contain;
        content: "";
        position: relative;
        display: inline-block;
        right: -40px;
        top: 12px;
        background-repeat: no-repeat;
    }

    .show_all_button{
        margin: 30px 0;
        display: block;
        width: 50px;
    }
    article {
        h1 {
            @include h1sp;
            @include no-shadow;
        }

        .et_post_meta_wrapper{
            .post-meta{
                font-weight: 700;
            }
            img{
                width:100%;
            }
        }
    }
}

/****fix glitch****/
.et_pb_slider .et_pb_slide{
    transform: translateZ(0);
}