.intuitioncompanydescription, .intuitionpositiondescription, .intuitionprofiledescription{
    h3{
        @include h4;
    }
}
a.bigblue{
    color: #444444 !important;
}
.intuitiondescription{
    margin-bottom: 30px;

    ul{
        padding-bottom: 0;
    }
}

.big-button .bigblue{
    background: transparent!important;
}

.intuitionapply a, .big-button{
    margin-top:20px;
    font-family: "nanamibold", sans-serif;
    font-size: 11px!important;
    letter-spacing: 2px;
    padding: 1em 2em !important;
    font-weight: bold;
    border-radius: 0px !important;
    color: #444444 !important;
    text-transform: uppercase;
    width: auto!important;
    border: 1px solid #e8a13f !important;
    background: transparent!important;
    background-color: transparent!important;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    a{
        color: #444444 !important;
    }
    &:after{
        font-family: "ETmodules" !important;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: none;
        speak: none;
        position: absolute;
        margin-left: -1em;
        opacity: 0;
        font-size: 20px;
        line-height: 1.25em;
        content: "\35";
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }

    &:hover {
        padding-right: 3em !important;
        background-color: #faecd9!important;
        &:after{
            margin-left: 0;
            opacity: 1;
        }
    }
}

.intuitionapply a{
    width:50%;
    &:after{
        line-height: 1.15em;
    }
}
