@media (max-width: 1200px){
  .h3resize{
    h3{
      font-size:40px;
    }
  }
  #et_mobile_nav_menu {
     display: block;
   }
  #top-menu {
    display: none;
  }
}

@media (max-width: 980px){
.flex{
  flex-direction: column;
}
.custom_offres{
    h3:before{
      bottom:0px!important;
      top:20px!important;
    }
  }

    .hero300, .hero400, .hero260, .hero350{
      h1, h2{
        font-size: 40px;
      }
    }


    h2{
      font-size: 32px;
    }
    h3{
      font-size: 24px;
    }

    .section_chiffres:before, .section_chiffres:after{
      content:'';
      display: none!important;
    }

    .temoignage{
      .et_pb_column{
        width: 100%!important;
      }
      .et_pb_column:after{
        display: none!important;
      }


    }


    .cat-item{
      margin: 3px!important;
    }
    .reference-item {
      position: relative;
      width: 50%;
      min-width: 180px;
      float: left;
      text-align: left;

      justify-content: space-between;

      .image{
        width: 50%;
        margin: 0 auto;
      }
      &:nth-child(2n):after{
        background: transparent;
      }
    }
  }

  @media (max-width: 768px){

    .hero300, .hero400, .hero260, .hero350{
      h1, h2{
        font-size: 32px;
      }
      h1:after, h1:before,  h2:after,  h2:before{
        display: none!important;
      }
    }
    .custom_divider {
      margin: 30px 0 0px 0!important;
    }

    h2{
      font-size: 24px;
    }
    h3{
      font-size: 18px;
    }

    .et_pb_fullwidth_header{
      .ban_actualites:before{
        top: 29px;
      }
      h1 {
        line-height: 100px !important;

      }
    }
    article, .et_pb_fullwidth_header{
      h1 {
        font-size: 28px!important;
      }
    }

    .reference-item {
      position: relative;
      width: 100%;
      min-width: 180px;
      float: left;
      text-align: left;

      .image{
        width: 50%;
        margin: 0 auto;
      }

      &:after{
        background: transparent;
      }
    }


    .post-25496, .post-26308{

      .et_pb_text {
        height: auto;

      }
    }


  }
  @media (max-width: 400px){
    .custom_faq h5 {
      font-size: 18px!important;
    }
  }