@mixin shadow{
    text-shadow: 0px 0px 27.6px rgba(0, 0, 0, 1);
}@mixin no-shadow{
  text-shadow: 0px 0px 0px;
}
@mixin h1 {
	font-family: $h1f;
	font-size: $h1s;
	letter-spacing: $h1l;
	line-height:$h1lh;
}
@mixin h1sp {
	font-family: $h1spf!important;
	font-size: $h1sps;
	letter-spacing: $h1spl!important;
	color: black;
	text-transform: uppercase;
    margin: 0;
    line-height: normal;
    margin-top: 10px;
    padding: 0;
}
@mixin h2 {
	font-family: $h2f;
	font-size: $h2s;
	letter-spacing: $h2l;
	text-transform: uppercase;
}
@mixin h3 {
	font-family: $h3f;
	font-size: $h3s;
	letter-spacing: $h3l;
	line-height: $h3lh;
}
@mixin h4 {
	font-family: $h4f;
	font-size: $h4s;
	text-transform: uppercase;
	line-height: $h4lh;

	font-weight: 600;
	letter-spacing: 2px;

}
@mixin h3bold {
	font-family: $h2f;
	font-size: $h3s;
	letter-spacing: $h3l!important;
	line-height: $h3lh!important;
}
@mixin p {
	font-family: $pf;
	font-size: $ps;
}
@mixin btn {
	font-family: $btnf;
	font-size: $btns;
	letter-spacing: $btnls;
}
@mixin subtitle {
	font-family: $subtitlef;
	font-size: $subtitles;
	letter-spacing: $subtitlel;
	line-height: $subtitlelh;
}

@mixin hero400 {
  max-height:$hero400;
  min-height:$hero400;
	height:$hero400;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display:flex;
	/*flex-direction:column;*/
	align-self: center;
}
@mixin hero350 {
  max-height:$hero350;
  min-height:$hero350;
	height:$hero350;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display:flex;
	/*flex-direction:column;*/
	align-self: center;
}
@mixin hero300 {
	max-height:$hero300;
	min-height:$hero300;
	height:$hero300;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display:flex;
	/*flex-direction:column;*/
	align-self: center;
}
@mixin hero260 {
	max-height:$hero260;
	min-height:$hero260;
	height:$hero260;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display:flex;
	/*flex-direction:column;*/
	align-self: center;
}
@mixin extralight {
	font-family: "nanamiextralight", sans-serif!important;
}
@mixin bold {
	font-family: "nanamibold", sans-serif!important;
}
@mixin uppercase{
    text-transform: uppercase;
}