.list-cat{

    .cat-item{
        display: inline-block;
        margin: -2px;
        padding: 10px 20px;

        color:#fff;
    }
}
.navigation {

    text-align: center;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #f3f3f3;
    text-decoration:none;
}

.navigation li {
    display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #2e2e2e;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
    border:1px solid #2e2e2e;
}

.navigation li a:hover,
.navigation li.active a {
    background-color: #f3f3f3;
    color:#2e2e2e;
    border:1px solid #2e2e2e;
}