$h1f: "nanamiextralight", sans-serif;
$h1s: 79px;
$h1l: 8px;
$h1lh: 80px;
$h1spf: "nanamibold", sans-serif;
$h1sps: 50px;
$h1spl: 3px;
$h1splh: 80px;
$h2f: "nanamibold", sans-serif;
$h2s: 42px;
$h2l: 3px;
$h3f: "nanamibold", sans-serif;
$h3s: 50px;
$h3l: 3px;
$h3lh: 1em;
$h4f: "nanamiextralight", sans-serif;
$h4s: 20px;
$h4lh: 1.5em;

$lightblue: #43bcca;



$pf: "nanamiextralight", sans-serif;
$ps: 16px;
$btns: 11px;
$btnf: "nanamibold", sans-serif;
$btnls: 2px;
$subtitlef: "nanamiextralight", sans-serif;
$subtitles: 31px;
$subtitlel: 3px;
$subtitlelh: 31px;
$hero300: 300px;
$hero350: 350px;
$hero400: 400px;
$hero260: 260px;
$extralight: "nanamiextralight", sans-serif;
$bold: "nanamibold", sans-serif;