@font-face {
    font-family: nanamibold;
    src: url(../fonts/nanami-bold-webfont.woff2) format("woff2"), url(../fonts/nanami-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: nanamiextralight;
    src: url(../fonts/nanami-extralight-webfont.woff2) format("woff2"), url(../fonts/nanami-extralight-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

.et_pb_blog_filter.link .cat-selector.all {
    color: white !important;
    background: #444 !important;
}

.et_pb_blog_filter.link .cat-selector.active.all {
    background: #f9f9f9 !important;
    color: #444 !important;
    font-weight: bold;
}



.et_pb_blog_filter.link .cat-selector.active[data-cat-id="5"] {
    color: #408ab9 !important;
    background: #f9f9f9 !important;
    font-weight: bold;
}

.et_pb_blog_filter.link .cat-selector[data-cat-id="5"] {
    color: white !important;
    background: #408ab9 !important
}


.et_pb_blog_filter.link .cat-selector.active[data-cat-id="6"] {
    background: #f9f9f9 !important;
    color: #e05b4c !important;
    font-weight: bold;
}

.et_pb_blog_filter.link .cat-selector[data-cat-id="6"] {
    color: white !important;
    background: #e05b4c !important
}



.et_pb_blog_filter.link .cat-selector.active[data-cat-id="1"] {
    background: #f9f9f9 !important;
    color: #FEC10A !important;
    font-weight: bold;
}

.et_pb_blog_filter.link .cat-selector[data-cat-id="1"] {
    color: white !important;
    background: #FEC10A !important
}



.et_pb_blog_filter.link .cat-selector.active[data-cat-id="17"] {
    background: #f9f9f9 !important;
    font-weight: bold;
    color: #C54B95 !important
}

.et_pb_blog_filter.link .cat-selector[data-cat-id="17"] {
    color: white !important;
    background: #C54B95 !important
}



.et_pb_blog_filter.link .cat-selector.active[data-cat-id="7"] {
    background: #f9f9f9 !important;
    color: #093953 !important
}

.et_pb_blog_filter.link .cat-selector[data-cat-id="7"] {
    color: white !important;
    background: #093953 !important
}


.et_pb_toggle_content,
p,
ul {
    font-size: 16px
}

.et_pb_toggle_content,
h1,
p,
ul {
    font-family: nanamiextralight, sans-serif
}

h1 {
    font-size: 79px;
    letter-spacing: 8px;
    line-height: 80px;
    color: white;
}

h2 {
    font-size: 42px;
    text-transform: uppercase;

    color: white;
}

h2.entry-title {
    color: #408ab9
}

h2,
h3 {
    font-family: nanamibold, sans-serif;
    letter-spacing: 3px
}

h3 {
    font-size: 50px;
    line-height: 1em
}

h4 {
    font-family: nanamiextralight, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 2px
}

.et_menu_container {
    margin-top: 35px !important
}

.social_header {
    text-align: right;
    position: absolute;
    top: -35px;
    right: 0;
    padding: 0 30px
}

.social_header .social_header_item {
    display: inline-block;
    padding: 5px 0 5px 10px
}

.social_header .social_header_item img {
    width: auto;
    height: 25px
}

.hero400 {
    max-height: 400px;
    min-height: 400px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: center
}

.hero400 h1,
.hero400 h2 {
    font-family: nanamiextralight, sans-serif;
    font-size: 79px;
    letter-spacing: 8px;
    line-height: 80px;
    text-shadow: 0 0 27.6px #000;
    text-transform: uppercase
}

.hero350 {
    max-height: 350px;
    min-height: 350px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: center
}

.hero350 h1,
.hero350 h2 {
    font-family: nanamiextralight, sans-serif;
    font-size: 79px;
    letter-spacing: 8px;
    line-height: 80px;
    text-shadow: 0 0 27.6px #000;
    text-transform: uppercase
}

.hero300 {
    max-height: 300px;
    min-height: 300px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: center
}

.hero300 h1,
.hero300 h2 {
    font-family: nanamiextralight, sans-serif;
    font-size: 79px;
    letter-spacing: 8px;
    line-height: 80px;
    text-shadow: 0 0 27.6px #000;
    text-transform: uppercase
}

.hero260 {
    max-height: 260px;
    min-height: 260px;
    height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: center
}

.hero260 h1,
.hero260 h2 {
    font-family: nanamiextralight, sans-serif;
    font-size: 79px;
    letter-spacing: 8px;
    line-height: 80px;
    text-shadow: 0 0 27.6px #000;
    text-transform: uppercase
}

#slider_home h2 {
    font-family: nanamibold, sans-serif;
    letter-spacing: 3px;
    line-height: 1em;
    color: #e05b4c !important;
    text-shadow: none !important;
    text-transform: uppercase
}

.custom_faq h5 {
    font-weight: 700
}

.custom_divider {
    height: 0;
    margin: 0
}

.custom_offres {
    padding: 0 20px 20px
}

.offres_title {
    color: #43bcca;
    text-transform: uppercase;
    cursor: pointer
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex-gif {
    flex-direction: column;
    justify-content: center;
    align-self: center
}

.custom_faq hr {
    border: 1px solid #e7a041
}

ul li {
    margin-bottom: 10px
}

ul li ul {
    list-style-type: circle !important;
    padding: 0 0 0 3em !important
}

ul li ul li {
    margin-bottom: 0
}

ul li .sub-menu {
    padding: 0 !important
}

#mobile_menu ul.sub-menu {
    list-style-type: none !important
}

body .form_map {
    width: 100% !important
}

body .form_map textarea.et_pb_contact_message {
    min-height: 80px
}

body article .bloc-post-news-title {
    text-transform: uppercase;
    font-family: nanamiextralight, sans-serif !important;
    line-height: 29px
}

body article .ban_bienetre:before {
    width: 80px;
    height: 100px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/VAGUE.png);
    background-size: contain;
    content: "";
    position: relative;
    display: inline-block;
    top: 29px;
    left: 10px;
    background-repeat: no-repeat
}

body article .ban_temoignages:before {
    width: 48px;
    height: 40px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/guillemet_left_large_yellow.png);
    right: 10px
}

body article .ban_temoignages:after,
body article .ban_temoignages:before {
    background-size: 48px;
    content: "";
    position: relative;
    display: inline-block;
    bottom: 30px
}

body article .ban_temoignages:after {
    width: 46px;
    height: 34px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/guillemet_right_large_yellow.png);
    left: 10px
}

body article .ban_erp:after {
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/gears.png)
}

body article .ban_entreprise:after,
body article .ban_erp:after {
    width: 64px;
    height: 96px;
    background-size: 60px;
    content: "";
    position: relative;
    display: inline-block;
    left: 0;
    background-repeat: no-repeat;
    top: 22px
}

body article .ban_actualites:before {
    width: 90px;
    height: 90px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/pens_yellow.png);
    background-size: contain;
    content: "";
    position: relative;
    display: inline-block;
    right: -40px;
    top: 12px;
    background-repeat: no-repeat
}

body article .ban_contact:before {
    width: 78px;
    height: 69px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/at_blue.png);
    background-size: 78px;
    content: "";
    position: relative;
    display: inline-block;
    right: 30px;
    top: 4px
}

body article .ban_metiers:after {
    width: 60px;
    height: 95px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/gears.png);
    background-size: 60px;
    content: "";
    position: relative;
    display: inline-block;
    left: 30px;
    top: 20px
}

body article .ban_culture:after {
    width: 87px;
    height: 108px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/music.png);
    background-size: 87px;
    content: "";
    position: relative;
    display: inline-block;
    left: 20px;
    top: 30px
}

body article .ban_mission:after {
    width: 80px;
    height: 78px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/boussole.png);
    background-size: 80px;
    content: "";
    position: relative;
    display: inline-block;
    left: 20px;
    top: 9px
}

body article .ban_chiffres:after {
    width: 64px;
    height: 96px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/calculatrice.png);
    background-size: 64px
}

body article .ban_agences:after,
body article .ban_chiffres:after {
    content: "";
    position: relative;
    display: inline-block;
    left: 20px;
    top: 20px
}

body article .ban_agences:after {
    width: 67px;
    height: 77px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/cross.png);
    background-size: 67px
}

body article .ban_postes:before {
    width: 87px;
    height: 107px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/picto_loupe.png);
    background-size: 77px;
    left: -10px;
    top: 20px
}

body article .ban_postes:before,
body article .ban_rejoignez:after {
    content: "";
    position: relative;
    display: inline-block;
    background-repeat: no-repeat
}

body article .ban_rejoignez:after {
    width: 67px;
    height: 77px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/puzzle-1.png);
    background-size: contain;
    left: 20px;
    top: 12px
}

body article .ban_fondsdotation:before {
    height: 107px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/picto_hearts.png)
}

body article .ban_fondsdotation:before,
body article .ban_projets:before {
    width: 87px;
    background-size: 67px;
    content: "";
    position: relative;
    display: inline-block;
    left: 6px;
    top: 26px;
    background-repeat: no-repeat
}

body article .ban_projets:before {
    height: 97px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/picto_flag.png)
}

body .et_pb_section_5 #et_pb_button_red {
    border: 1px solid #e05b4c !important
}

body .et_pb_section_5 #et_pb_button_red:hover {
    background-color: #f4d9de !important
}

body .btn_faq {
    font-family: nanamibold, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 1em 6em !important;
    font-weight: 700;
    margin-right: 20px;
    border: 1px solid #e7a041;
    border-radius: 0 !important;
    color: #444 !important;
    text-transform: uppercase
}

body .btn_faq:after {
    font-size: 13px !important;
    line-height: 1.45 !important;
    font-weight: 700;
    padding-left: 10px
}

body .btn_faq:hover {
    padding: 1em 7em !important;
    background-color: #faecd9;
    border: 1px solid #e7a041 !important
}

body .footer_info {
    font-family: nanamiextralight, sans-serif;
    font-size: 16px;
    padding: 20px 90px 0 0;
    vertical-align: top
}

body .footer_container {
    width: 100%;
    margin: auto;
    background-color: #2e2e2e;
    padding: 40px 0
}

body .footer_table {
    margin: auto
}

body .footer_title {
    font-family: nanamiextralight, sans-serif;
    font-size: 16px;
    text-align: left;
    color: #fff;
    font-weight: 400;
    position: relative
}

body .footer_title:before {
    width: 34px;
    height: 27px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/07/target.png);
    background-size: 34px;
    content: "";
    display: block;
    position: absolute;
    left: -41px
}

body .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 0 -5%;
    width: 90%;
    margin: 0 auto
}

@media only screen and (min-width:414px) and (max-width:1025px) {
    body .footer_wrapper {
        width: 70%
    }
}

body .footer_wrapper .footer_info {
    padding: 0 0 0 10%;
    width: 25%
}

@media only screen and (min-width:414px) and (max-width:1025px) {
    body .footer_wrapper .footer_info {
        width: 50%;
        margin-bottom: 15px
    }
}

@media only screen and (min-width:250px) and (max-width:767px) {
    body .footer_wrapper .footer_info {
        width: 100%
    }
}

body #container_chiffres,
body #container_mission,
body #container_valeurs {
    width: 70% !important
}

body #container_agences {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end
}

body #container_agences #custom_tab .et_pb_tabs_controls li {
    width: 25%
}

body #container_agences #custom_tab .et_pb_tabs_controls li a {
    text-align: center
}

body #container_agences #custom_tab ul.et_pb_tabs_controls {
    background-color: #fff !important
}

body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_active a {
    color: #408ab9 !important;
    font-weight: 400 !important
}

body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_0:before,
body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_1:before,
body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_2:before,
body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_3:before {
    width: 34px;
    height: 27px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/07/target.png);
    background-size: 34px;
    content: "";
    display: block;
    position: absolute;
    left: 100px;
    top: 4px
}

body #container_agences .et_pb_tabs {
    border: 1px solid #7dcff5 !important
}

body #container_agences .et_pb_tabs a {
    color: #fff;
    font-weight: 400
}

body #container_agences .et_pb_tab {
    padding: 100px 30px
}

body .valeurs {
    border: 1px solid #e05b4c;
    padding: 50px 40px;
    color: #e05b4c;
    max-height: 340px;
    min-height: 340px;
    vertical-align: middle
}

body .valeurs h3 {
    color: #e05b4c;
    margin-bottom: 10px
}

body .items-center {
    align-items: center
}

body .items-center,
body .items-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

body .items-start {
    align-items: flex-start !important
}

body .bloc-post-home-title-blue h2 {
    color: #408ab9
}

body .bloc-post-home-title-blue h2,
body .bloc-post-home-title-red h2 {
    text-transform: uppercase;
    font-family: nanamiextralight, sans-serif !important;
    line-height: 29px
}

body .bloc-post-home-title-red h2 {
    color: #e05b4c !important
}

body .section_chiffres h2 {
    font-size: 50px
}

body .container_temoignages .et_pb_slide_description,
body .et_pb_slider_fullwidth_off .et_pb_slide_description {
    padding: 0 !important;
    padding-bottom: 20% !important
}

body .container_temoignages .et-pb-controllers {
    bottom: 0
}

body .container_temoignages {
    margin-top: 40px !important;
    margin-bottom: 30px !important
}

@media only screen and (min-width:414px) and (max-width:1025px) {
    article .et_pb_section_9 .et_pb_row_4 {
        padding-left: 0 !important
    }

    .et_pb_fullwidth_header .header-content {
        padding: 0 !important
    }

    .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
        width: 100% !important
    }

    .et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
        width: 100% !important;
        max-width: 1080px !important
    }

    article .et_pb_fullwidth_header_subhead {
        padding: 0 20px
    }

    body article .ban_temoignages:after,
    body article .ban_temoignages:before {
        width: 40px !important;
        height: 30px !important;
        background-size: 40px !important;
        bottom: 33px !important
    }

    body article .ban_temoignages:after {
        left: 5px !important
    }

    article .et_pb_toggle_title:before {
        width: 25px !important;
        height: 24px !important;
        background-size: 25px !important;
        left: -17% !important;
        bottom: 20px !important
    }

    .custom_faq h5:before {
        bottom: -38px !important
    }

    .et_pb_column_7 #et_pb_contact_form_0 {
        width: 96% !important
    }

    .et_pb_section_5 .et_pb_slide_image {
        position: relative
    }

    .et_pb_section_5 .et_pb_slide_image,
    .et_pb_slide_video {
        width: 100% !important
    }
}

@media only screen and (max-width:767px) {

    .custom_faq .et_pb_toggle_close,
    .custom_faq .et_pb_toggle_open {
        padding: 0 !important
    }

    article .et_pb_fullwidth_header h1 {
        font-size: 35px !important
    }

    article .et_pb_fullwidth_header_subhead {
        font-size: 22px !important;
        line-height: 26px !important
    }

    article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_slide_description {
        padding-right: 0 !important
    }

    body article .ban_actualites:before,
    body article .ban_agences:after,
    body article .ban_chiffres:after,
    body article .ban_contact:before,
    body article .ban_culture:after,
    body article .ban_metiers:after,
    body article .ban_mission:after,
    body article .ban_temoignages:after,
    body article .ban_temoignages:before {
        display: none !important
    }

    .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
        width: 100% !important
    }

    article .et_pb_fullwidth_header h1 {
        font-size: 28px !important;
        line-height: 36px !important
    }

    .et_pb_fullwidth_header .header-content {
        padding: 0 !important
    }

    article .et_pb_section_9 .et_pb_row_4 {
        padding-left: 0 !important
    }

    .et_pb_slide_description,
    .et_pb_slider_fullwidth_off .et_pb_slide_description {
        padding: 16% 0 !important
    }

    .et_pb_slide_content em {
        font-size: 14px !important
    }

    article .et_pb_section_5 .et_pb_post_slider .et_pb_slide_description {
        padding: 10px !important
    }

    article .et_pb_toggle_title:before {
        width: 27px !important;
        height: 25px !important;
        background-size: 27px !important;
        left: -50px !important;
        bottom: -24px !important
    }

    .et_pb_toggle h5.et_pb_toggle_title {
        padding: 0
    }

    .et_pb_row.et_pb_row_fullwidth,
    .et_pb_specialty_fullwidth>.et_pb_row {
        width: 98% !important
    }

    .custom_faq .et_pb_toggle_content,
    #offres_partie .post-content-inner {
        right: 35px !important
    }

    body .footer_container {
        padding-left: 15px !important
    }

    body .footer_info {
        padding: 0 0 20px !important;
        display: block !important;
        text-align: center
    }

    body .footer_title:before {
        left: 15px
    }

    body .footer_title {
        text-align: center
    }

    .et_contact_bottom_container {
        float: none
    }

    .et_pb_slide_description,
    .et_pb_slider_fullwidth_off .et_pb_slide_description {
        padding: 16% 5% !important
    }

    .et_pb_section_5 .et_pb_slide_image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    article .et_pb_toggle_title {
        font-size: 24px !important
    }

    .et-pb-controllers {
        bottom: 0 !important
    }

    .et_pb_section_5 .et_pb_slide_image {
        position: relative
    }

    .et_pb_section_5 .et_pb_slide_image,
    .et_pb_slide_video {
        width: 100% !important
    }

    .et_pb_section_5 .et_pb_slide_image img {
        height: 100% !important
    }

    .et_pb_slide_description,
    .et_pb_slider_fullwidth_off .et_pb_slide_description {
        padding: 9% 8% !important
    }

    body #container_mission,
    body #container_valeurs {
        width: 90% !important
    }

    body #container_agences {
        display: block
    }

    body #container_agences #custom_tab .et_pb_tabs_controls li {
        width: 100%
    }

    body #container_agences #custom_tab .et_pb_tabs_controls a {
        width: 760px;
        max-width: 100%;
        text-align: center
    }

    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_0:before,
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_1:before,
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_2:before,
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_3:before,
    body #container_agences #custom_tab ul.et_pb_tabs_controls .et_pb_tab_4:before {
        left: 175px !important
    }
}

@media only screen and (min-width:980px) and (max-width:1201px) {
    #logo {
        max-height: 34% !important
    }
}

@media only screen and (max-width:980px) {
    .et_menu_container {
        margin-top: 25px !important
    }

    .social_header {
        top: -25px;
        padding: 0
    }

    .social_header .social_header_item {
        display: inline-block;
        padding: 3px 0 3px 7px
    }

    .social_header .social_header_item img {
        width: auto;
        height: 20px
    }
}

@media only screen and (max-width:480px) {
    .social_header {
        display: none
    }

    .et_menu_container {
        margin-top: 0 !important
    }
}

#top-menu li li {
    margin: 0;
    padding: 0;
    width: 100%
}

#top-menu li li a {
    width: 100%;
    padding: 6px 40px
}

.et_mobile_menu .menu-item-has-children>a {
    background-color: unset
}

a.bigblue:hover,
a.smallblue:hover {
    color: #444 !important
}

.et_pb_slide_description {
    padding-top: 5% !important
}

.single-post #left-area {
    float: none;
    width: 100% !important;
    padding-right: 0 !important
}

.et_pb_number_counter h3 {
    letter-spacing: 0
}

ul.et_pb_tabs_controls:after {
    border-top: 0
}

#top-menu li {
    text-transform: uppercase
}

article .extralight {
    font-family: nanamiextralight, sans-serif !important
}

article .bold {
    font-family: nanamibold, sans-serif !important
}

article .et_pb_fullwidth_header_container .header-content {
    width: 100% !important;
    max-width: 970px !important;
    margin: auto !important
}

article .et_pb_fullwidth_header_subhead {
    font-family: nanamiextralight, sans-serif;
    font-size: 31px;
    letter-spacing: 3px;
    line-height: 31px;
    text-shadow: 0 0 27.6px #000;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px
}

article .et_pb_section_1 .et-pb-controllers .et-pb-active-control {
    width: 9px !important;
    height: 9px !important;
    background-color: #e05b4c !important
}

article .et_pb_section_1 .et-pb-controllers {
    bottom: 0 !important
}

article .et_pb_section_1 .et-pb-controllers a {
    width: 9px !important;
    height: 9px !important;
    background-color: #efaaa2 !important
}

article .et_pb_section_1 #slider_home .et_pb_slide {
    box-shadow: none !important
}

article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_slide_content {
    font-family: nanamiextralight, sans-serif;
    font-size: 16px;
    color: #444 !important;
    text-shadow: none !important
}

article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_button {
    font-family: nanamibold, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 1em 3em !important;
    font-weight: 700;
    border: 1px solid #e05b4c;
    border-radius: 0 !important;
    color: #444 !important;
    text-transform: uppercase
}

article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_button:after {
    font-size: 13px !important;
    line-height: 1.45 !important;
    font-weight: 700;
    padding-left: 20px !important
}

article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_button:hover {
    padding: 1em 4em !important
}

article .et_pb_section_1 #slider_home .et_pb_slide .et_pb_slide_description {
    padding-top: 8% !important;
    padding-bottom: 8% !important;
    padding-right: 13%
}

article .et_pb_post_slider_0 .et_pb_button {
    font-family: nanamibold, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 1em 2em !important;
    font-weight: 700;
    border: 1px solid #e05b4c !important;
    border-radius: 0 !important
}

article .et_pb_post_slider_0 .et_pb_button:after {
    font-size: 25px !important;
    line-height: .75 !important
}

article .et_pb_post_slider_0 .et_pb_button:hover {
    padding-right: 3em !important
}

article .et_pb_section_5 .et_pb_button {
    font-family: nanamibold, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 1em 2em !important;
    font-weight: 700;
    border: 1px solid #408ab9;
    border-radius: 0 !important;
    color: #444 !important;
    text-transform: uppercase;
    width: 100% !important
}

article .et_pb_section_5 .et_pb_button:after {
    font-size: 13px !important;
    line-height: 1.45 !important;
    font-weight: 700;
    padding-left: 10px
}

article .et_pb_section_5 .et_pb_button:hover {
    padding-right: 3em !important;
    background-color: #d9f2f4;
    border: 1px solid #408ab9 !important
}

article .et_pb_section_5 .et_pb_slide_description {
    text-align: left !important;
    padding-bottom: 10% !important;
    border-bottom: 1px solid #408ab9;
    border-left: 1px solid #408ab9;
    border-right: 1px solid #408ab9
}

article .et_pb_section_5 .et_pb_slide_description p {
    font-family: nanamiextralight, sans-serif;
    font-size: 16px
}

article .et_pb_section_5 .et_pb_slide {
    padding: 0 !important
}

article .et_pb_section_5 .et_pb_slide_content .post-meta {
    padding-bottom: 20px !important
}

article .et_pb_section_5 .et_pb_slide_title h2 {
    font-family: nanamibold, sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 1em;
    color: #408ab9 !important
}

article .et_pb_section_5 .et_pb_post_slider_2 .et_pb_slide_description {
    border-bottom: 1px solid #e05b4c;
    border-left: 1px solid #e05b4c;
    border-right: 1px solid #e05b4c
}

article .et_pb_contact {
    margin-bottom: 10px
}

article .et_pb_contact .et_contact_bottom_container {
    overflow: visible !important;
    width: 240px
}

article .et_pb_contact input,
article .et_pb_contact textarea {
    border-bottom: 2px solid #7dcff5 !important;
    border: 1px solid #fff
}

article .et_pb_contact .et_pb_contact_submit {
    margin-left: 0 !important
}

article .et_pb_contact .et_pb_button {
    font-family: nanamibold, sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 1em 6em !important;
    font-weight: 700;
    margin-right: 20px;
    border: 2px solid #7dcff5;
    border-radius: 0 !important;
    color: #444 !important;
    text-transform: uppercase;
    width: 100% !important
}

article .et_pb_contact .et_pb_button:after {
    font-size: 13px !important;
    line-height: 1.45 !important;
    font-weight: 700;
    padding-left: 10px
}

article .et_pb_contact .et_pb_button:hover {
    padding-right: 7em !important;
    background-color: #fff;
    border: 2px solid #7dcff5 !important
}

article .et_pb_section_9 .et_pb_row_4 {
    margin: auto !important;
    padding-left: 34px
}

article .et_pb_section_9 .et_pb_contact_form {
    margin-left: 0 !important
}

article .et_pb_section_3 .et_pb_slider .et-pb-active-control {
    width: 9px;
    height: 9px;
    border: 2px solid #51cad8 !important;
    background-color: #fff !important;
    position: relative;
    top: 2px
}

article .et_pb_section_3 .et_pb_slider .et-pb-controllers a {
    width: 9px;
    height: 9px;
    background-color: #51cad8
}

article .et_pb_fullwidth_header .et_pb_fullwidth_header_container {
    width: 100%
}

article .et_pb_toggle_title:before {
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/cross_orange.png);
    width: 40px;
    height: 39px;
    position: relative;
    left: -16% !important;
    bottom: -43px;
    content: "";
    display: block
}

article .et_pb_toggle_open .et_pb_toggle_title:before {
    content: "" !important
}

article .et_pb_toggle_item .et_pb_toggle_title:before {
    transition: transform .2s ease-out
}

article .et_pb_toggle_item.et_pb_toggle_close .et_pb_toggle_title:before {
    transform: rotate(0deg)
}

article .et_pb_toggle_item.et_pb_toggle_open .et_pb_toggle_title:before {
    transform: rotate(45deg)
}

article .et_pb_toggle {
    margin-left: 25%
}

article #et_pb_contact_form_0 .et_pb_contact_field_radio_title {
    display: none !important
}

article .et_pb_contact_form_0 .input[type=radio]+label i {
    border: 3px solid #7dcff5;
    width: 14px;
    height: 14px;
    bottom: 3px
}

article .et_pb_contact_form_0 .input[type=radio]:checked+label i:before {
    background-color: #7dcff5 !important;
    width: 14px;
    height: 14px
}

article .et_pb_section_5 .et_pb_code_1 .et_pb_slide_description:nth-child(2n) {
    border-bottom: 1px solid #e05b4c !important;
    border-left: 1px solid #e05b4c !important;
    border-right: 1px solid #e05b4c !important
}

.post-25444 .et_pb_section_2 .et_pb_row {
    width: 70%
}

.post-25563 .et_pb_divider:before {
    border-top-color: #757575;
    border-top-style: solid
}

#main-content .container:before {
    background-color: transparent
}

.single-post .container {
    width: 100% !important;
    padding-top: 0 !important
}

.single-post .type-post {
    width: 90%;
    margin: 0 auto
}

.single-post .ban_actualites {
    font-family: nanamiextralight, sans-serif;
    font-size: 79px;
    letter-spacing: 8px;
    line-height: 80px;
    text-shadow: 0 0 27.6px #000;
    text-transform: uppercase
}

.single-post .ban_actualites:before {
    width: 90px;
    height: 90px;
    background-image: url(https://syd.fr/wp-content/uploads/2017/06/pens_yellow.png);
    background-size: contain;
    content: "";
    position: relative;
    display: inline-block;
    right: -40px;
    top: 12px;
    background-repeat: no-repeat
}

.single-post .show_all_button {
    margin: 30px 0;
    display: block;
    width: 50px
}

.single-post article h1 {
    font-family: nanamibold, sans-serif !important;
    font-size: 50px;
    letter-spacing: 3px !important;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
    margin-top: 10px;
    padding: 0;
    text-shadow: 0 0 0
}

.single-post article .et_post_meta_wrapper .post-meta {
    font-weight: 700
}

.single-post article .et_post_meta_wrapper img {
    width: 100%
}

.et_pb_slider .et_pb_slide {
    transform: translateZ(0)
}

.intuitioncompanydescription h3,
.intuitionpositiondescription h3,
.intuitionprofiledescription h3 {
    font-family: nanamiextralight, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 2px
}

a.bigblue {
    color: #444 !important
}

.intuitiondescription {
    margin-bottom: 30px
}

.intuitiondescription ul {
    padding-bottom: 0
}

.big-button,
.big-button .bigblue,
.intuitionapply a {
    background: transparent !important
}

.big-button,
.intuitionapply a {
    margin-top: 20px;
    font-family: nanamibold, sans-serif;
    font-size: 11px !important;
    letter-spacing: 2px;
    padding: 1em 2em !important;
    font-weight: 700;
    border-radius: 0 !important;
    color: #444 !important;
    text-transform: uppercase;
    width: auto !important;
    border: 1px solid #e8a13f !important;
    background-color: transparent !important;
    transition: all .2s
}

.big-button a,
.intuitionapply a a {
    color: #444 !important
}

.big-button:after,
.intuitionapply a:after {
    font-family: ETmodules !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    speak: none;
    position: absolute;
    margin-left: -1em;
    opacity: 0;
    font-size: 20px;
    line-height: 1.25em;
    content: "\35";
    transition: all .2s
}

.big-button:hover,
.intuitionapply a:hover {
    padding-right: 3em !important;
    background-color: #faecd9 !important
}

.big-button:hover:after,
.intuitionapply a:hover:after {
    margin-left: 0;
    opacity: 1
}

.intuitionapply a {
    width: 50%
}

.intuitionapply a:after {
    line-height: 1.15em
}

.clients {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.reference-item {
    position: relative;
    width: 25%;
    min-width: 180px;
    min-height: 320px;
    padding: 0 40px;
    height: auto;
    overflow: hidden;
    margin: 20px 0 !important;
    padding-bottom: 200px
}

.reference-item .titre {
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    padding: 20px 0;
    top: 0;
    color: #43bcca;
    left: 0;
    text-align: left;
    font-weight: 700;
    margin-top: 20px
}

.reference-item .description {
    width: 100%;
    font-size: 14px;
    display: block;
    color: #000;
    left: 0;
    text-align: left
}

.reference-item .image {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    display: block;
    color: #000;
    text-align: center;
    margin: 0 auto;
    max-height: 200px
}

.reference-item .image img {
    max-height: 150px
}

.reference-item:after {
    content: "";
    vertical-align: middle;
    height: 80%;
    padding-top: 0;
    display: block;
    position: absolute;
    width: 2px;
    right: 0;
    top: 40px;
    background: #e7a041
}

.reference-item:nth-child(4n):after {
    background: transparent !important
}

.reference-item:hover .overlay-references {
    opacity: 1;
    transition: all .2s ease
}

.overlay-references {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #e7a041;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    color: #000;
    overflow: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between
}

.overlay-references .description {
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-style: italic
}

.overlay-references .title {
    font-size: 14px;
    display: block;
    color: #fff;
    font-weight: 700
}

.with-border {
    border: 1px solid #000
}

.no-border {
    border: 0
}

.reference-item img {
    margin-top: 20px
}

.list-cat .cat-item {
    display: inline-block;
    margin: -2px;
    padding: 10px 20px;
    color: #fff
}

.navigation {
    text-align: center
}

.navigation li.active a,
.navigation li.disabled,
.navigation li a,
.navigation li a:hover {
    color: #f3f3f3;
    text-decoration: none
}

.navigation li {
    display: inline
}

.navigation li.active a,
.navigation li.disabled,
.navigation li a,
.navigation li a:hover {
    background-color: #2e2e2e;
    cursor: pointer;
    padding: 12px;
    padding: .75rem;
    border: 1px solid #2e2e2e
}

.navigation li.active a,
.navigation li a:hover {
    background-color: #f3f3f3;
    color: #2e2e2e;
    border: 1px solid #2e2e2e
}

body article .ban_visualexperience:after {
    content: "";
    position: relative;
    display: inline-block;
    left: 20px;
    top: 20px;
    height: 100px;
    width: 68px;
    background-image: url('https://syd-test-wordpress.moventes.com/wp-content/uploads/2018/05/VISEXP1_orange.png');
    background-size: 68px;
    background-repeat: no-repeat;
}

body article .ban_interaction_client:after {
    content: "";
    position: relative;
    display: inline-block;
    left: 20px;
    top: 20px;
    height: 116px;
    width: 82px;
    background-image: url('https://syd-test-wordpress.moventes.com/wp-content/uploads/2018/05/INTERACTIONSOCIALE_orange.png');
    background-size: 68px;
    background-repeat: no-repeat;
}

@media (max-width:1200px) {
    .h3resize h3 {
        font-size: 40px
    }

    #et_mobile_nav_menu {
        display: block
    }

    #top-menu {
        display: none
    }
}

@media (max-width:980px) {
    .flex {
        flex-direction: column
    }

    .custom_offres h3:before {
        bottom: 0 !important;
        top: 20px !important
    }

    .hero260 h1,
    .hero260 h2,
    .hero300 h1,
    .hero300 h2,
    .hero350 h1,
    .hero350 h2,
    .hero400 h1,
    .hero400 h2 {
        font-size: 40px
    }

    h2 {
        font-size: 32px
    }

    h3 {
        font-size: 24px
    }

    .section_chiffres:after,
    .section_chiffres:before {
        content: "";
        display: none !important
    }

    .temoignage .et_pb_column {
        width: 100% !important
    }

    .temoignage .et_pb_column:after {
        display: none !important
    }

    .cat-item {
        margin: 3px !important
    }

    .reference-item {
        position: relative;
        width: 50%;
        min-width: 180px;
        float: left;
        text-align: left;
        justify-content: space-between
    }

    .reference-item .image {
        width: 50%;
        margin: 0 auto
    }

    .reference-item:nth-child(2n):after {
        background: transparent
    }
}

@media (max-width:768px) {

    .hero260 h1,
    .hero260 h2,
    .hero300 h1,
    .hero300 h2,
    .hero350 h1,
    .hero350 h2,
    .hero400 h1,
    .hero400 h2 {
        font-size: 32px
    }

    .hero260 h1:after,
    .hero260 h1:before,
    .hero260 h2:after,
    .hero260 h2:before,
    .hero300 h1:after,
    .hero300 h1:before,
    .hero300 h2:after,
    .hero300 h2:before,
    .hero350 h1:after,
    .hero350 h1:before,
    .hero350 h2:after,
    .hero350 h2:before,
    .hero400 h1:after,
    .hero400 h1:before,
    .hero400 h2:after,
    .hero400 h2:before {
        display: none !important
    }

    .custom_divider {
        margin: 30px 0 0 !important
    }

    h2 {
        font-size: 24px
    }

    h3 {
        font-size: 18px
    }

    .et_pb_fullwidth_header .ban_actualites:before {
        top: 29px
    }

    .et_pb_fullwidth_header h1 {
        line-height: 100px !important
    }

    .et_pb_fullwidth_header h1,
    article h1 {
        font-size: 28px !important
    }

    .reference-item {
        position: relative;
        width: 100%;
        min-width: 180px;
        float: left;
        text-align: left
    }

    .reference-item .image {
        width: 50%;
        margin: 0 auto
    }

    .reference-item:after {
        background: transparent
    }

    .post-25496 .et_pb_text,
    .post-26308 .et_pb_text {
        height: auto
    }
}

@media (max-width:400px) {
    .custom_faq h5 {
        font-size: 18px !important
    }
}

#post-25347 .et_pb_section_9 .form_map .et_pb_column_8 form {
    margin-top: 5%;
}




#post-25591 .entry-content .et_pb_section_2 img {
    margin-bottom: -1.7%;
}

#post-25591 .et_pb_text_0,
#post-25591 .et_pb_text_0 p {
    font-size: 12px !important;
    font-family: nanamiextralight !important;
}

#post-25591 .et_pb_text_0 {
    margin-top: 10%;
}

#post-27408 .entry-content .et_pb_section_0 .et_pb_fullwidth_header_0 .ban_interaction_client {
    width: 105%;
}

#post-27408 .entry-content .et_pb_section_0 .et_pb_fullwidth_header_0 .ban_interaction_client::after {
    top: 50px !important;
}

/* Page Home */

#post-25347 .et_pb_space,
#post-25347 .et_pb_contact_field_options_title,
#post-25347 .box-shadow-overlay,
#et_pb_contact_et_number_0 {
    display: none;
}

/* Page Notre entreprise */

#post-25444 .et_pb_blurb_0.et_pb_blurb,
#post-25444 .et_pb_blurb_1.et_pb_blurb,
#post-25444 .et_pb_blurb_2.et_pb_blurb {
    color: #e05b4c !important;
    border: 1px solid #e05b4c;
    padding-top: 50px !important;
    padding-right: 10px !important;
    padding-bottom: 30px !important;
    padding-left: 10px !important;
    height: 305px;
}

/*microsoft ERP*/

#post-26238 .et_pb_team_member_image {
    margin-left: auto;
    margin-right: auto;
}

/* syd le programme*/

#post-28540 .et_pb_button_0 {
    color: #2ea3f2 !important;
}

/*titre h1 blanc all pages */

.et_pb_text_align_center {
    margin: auto;
    text-align: center;
}

#page-container {
    overflow: unset !important;
}

/*offres d'emplois*/
#post-25563 .offres_title {
    color: #43bcca;
}

/*contact*/

#post-25591 .et_pb_contact_field_options_title {
    display: none;
}

/*news*/

#post-29049 #dfbm-cat-nav [data-cat-id="5"] {
    background-color: #408ab9;
    color: #fff;
}

#post-29049 #dfbm-cat-nav [data-cat-id="6"] {
    background-color: #e05b4c;
    color: #fff;
}

#post-29049 #dfbm-cat-nav [data-cat-id="7"] {
    background-color: #43bcca;
    color: #fff;
}

#post-29049 #dfbm-cat-nav [data-cat-id="1"] {
    background-color: black;
    color: #fff;
}

#post-29049 #dfbm-cat-nav [data-cat-id="17"] {
    background-color: #1e74bf;
    color: #fff;
}

#post-29049 .post-content img {
    display: none;
}

#post-29049 #dfbm-container .et_pb_post .et_pb_image_container {
    border: 1px solid #d8d8d8;
    border-bottom: 0;
}

#post-29049 #dfbm-container .et_pb_post .faded .et_pb_content_container {
    border: 1px solid #1e74bf;
    border-top: 0;
}

#post-29049 #dfbm_blog_pagination .pages {
    display: none;
}

#post-29049 .pagination {
    margin-right: auto;
}

#dfbm_blog_pagination .pagination ul li {
    background-color: #2e2e2e;
    cursor: pointer;
    border: 1px solid #2e2e2e;
    padding: .75rem;
    margin: 8px;
}

#dfbm-active-cat {
    display: none !important;
}

#dfbm-cat-nav {
    margin: 0 !important;
}

<<<<<<< HEAD
/*rejoignez-nous*/

#post-25563 .intuitionapply {
    margin-bottom: 4%;
}

#post-25563 .background_blog {
    background-color: transparent !important;
}

#post-25563 .et_pb_toggle {
    border: none !important;
}

#post-25563 .line_under_post {
    border-bottom: solid 1px #757575 !important;
    position: relative;
    width: 90%;
    margin-left: 5%;
    display: grid;
    padding-left: 15% !important;
}

@media (max-width: 767px) {
    #post-25563 .line_under_post {
        padding-left: 5% !important;
    }
}

=======>>>>>>>1e3ce5fdd49844c097154aa811c8c99c1880a02e